@import "../../Styles/fonts.scss";

.AlbuharaTextComponentContainer {
  color: #FAEFDF;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #3a181d, #3a181d);
  padding: 20px 0;

  @media (min-width: 768px) {
    padding: 30px 20px;
  }

  @media (min-width: 1200px) {
    padding: 40px 30px;
  }

  .AlbuharaTextComponentTitle {
    // font-family: "Playfair Display", serif;
    font-family: "Copperplate";
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0%;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }

  .AlbuharaTextComponentSubtitle {
    font-family: "Corinthia", cursive;
    font-size: 56px;
    margin: 10px 0 0;
    line-height: 1.2;
  

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  /* Responsive design inspired by the second image */
  @media (max-width: 767px) {
    .AlbuharaTextComponentContainer {
      padding: 15px 5px;
    }

    .AlbuharaTextComponentTitle {
      font-size: 3rem;
    }

    .AlbuharaTextComponentSubtitle {
      font-size: 2.4rem;
    }
  }
}
