@import "../../Styles/fonts.scss";
.albuharaInteriorContainer {
  color: #f5e6cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 60px;

  .albuharaInteriorLogo {
    width: 150px;
    height: 150px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: "Copperplate";
  }

  p {
    font-size: 1rem;
    max-width: 850px;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}
